body {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #DCF2F1;
    color: #7FC7D9;
}

/*  HEADER */
header{
    display: flex;
}
.logo{
    display: flex;
    margin:10px;
}

/* MAIN /*
/* SECCIÓN DES-ENCRIPTAR */

.encriptador-texto{
    display: grid;
    gap: 10px;
    /* "grid-template-areas" permite definir la cuadrilla como se distribuira en el grid (Se debe asignar el nombre a cada elemento de la cuadrilla por medio de 'grid-area:') En caso de querer dejar un espacio vacío, se debe reemplazar el nombre del elemneto (header) por un '.' | NO SE PUEDE UNIR TODO EL CONTENIDO DEL BODY (<header> + <body> + <footer>) EN UNA SOLA CUADRILLA */
    grid-template-areas: 
    ".  mensaje resultado"
    ".  botones copiar-btn";
    /* "grid-template-columns" define el ancho de las columnas */
    grid-template-columns: 120px   auto   auto;
    /* "grid-template-rows" define el alto de las filas */
    grid-template-rows: auto;
}

.encriptador-texto > *{
    border: solid #365486 2px;
    border-radius: 40px;
}

#mensaje{
    display: flex;
    width: 45vw;
    height: 48vw;
    flex-direction: column;
    grid-area: mensaje;
}

#des-encriptar{
    display: flex;
    width: auto;
    background: none;
    border: none;
    font-weight: bold;
    padding: 1em;
    resize: none;
    height: 40vw;
    font-size: 1.2em;
    outline: none;
    color: #365486;
}

#des-encriptar::placeholder{
    color: #7FC7D9;
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
} 

#resultado-mensaje{
    display: flex;
    grid-area: resultado;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: #FFFFFF;
    border: #7FC7D9;
    color: #365486;
    width: 25vw;
    height: auto;
    font-size: 1.2em;
    box-shadow: 5px 5px 5px 3px #CEE0D6;
    justify-content: space-between;
}

.botones{
    border: none;
    grid-area: botones;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.advertencia{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.icono-alerta {
    width: 1em;
    padding: 0.5em;
    border: 5px;
}

.caja-des-encriptar{
    display: flex;
    justify-content: space-evenly;
    width: auto;
    width: 35vw;
}

.des-encriptar{
    font-family: "Madimi One", sans-serif;
    background-color: #365486;
    color: #DCF2F1;
    border: solid #365486 1px;
    border-radius: 10px;
    width: 200px;
    height: 45px;
    font-weight: lighter;
    transition: .5s;
}
.des-encriptar:hover{
    cursor: pointer;
    scale: 1.1;
}

#boton-des-encriptar{
    color: #7FC7D9;
    background-color: #DCF2F1;
    border: solid #7FC7D9 1px;
    transition: 0.5s;
}
#boton-des-encriptar:hover{
    cursor: pointer;
    color: #365486;
    background-color: #7FC7D9;
    border: solid #365486 1px;
    scale: 1.05;
}

.copiar-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #365486;
    border: solid #365486 1px;
    border-radius: 10px;
    width: 25vw;
    height: 45px;
    font-weight: lighter;
    transition: .5s;
    grid-area: copiar-btn;
    position: relative;
    bottom: 10vw;
    left: 1.2em;
}
.copiar-btn:hover{
    cursor: pointer;
    transform: scale(1.05);
    background-color: #DCF2F1;
}

.copy-message-hidden{
    display: flex;
    background-color: #FFFFFF; /* Green background color */
    color: #365486;
    padding: 10px 20px;
    border-radius: 5px;
    margin-top: 2em;
    width: 25vw;
    height: 30px;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%); /* Center vertically */
    z-index: 999; /* Ensure it appears above other elements */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out; /* Smooth fade-in/out animation */
    grid-area: copiar-btn;
}

.copy-message-hidden.show{
    opacity: 1; /* Show the notification when the class is added */
}

@media (max-width: 1025px) {
    .encriptador-texto{
        display: grid;
        gap: 20px;
        grid-template-areas: 
        "mensaje"
        "botones"
        "resultado"
        "copiar-btn";
        grid-template-columns: 90vw;
        grid-template-rows: auto    auto    auto    auto;
        justify-content: center;
        justify-items: center;
    }

    #mensaje{
        height: 55vw;
    }

    #mensaje, #resultado-mensaje, .botones, .copiar-btn,.copy-message-hidden, .caja-des-encriptar{
        width: 80vw;
    }

    #resultado-mensaje img{
        display: none;
    }

    .des-encriptar{
        width: 35vw;
        font-size: 1.5em;
    }

    .copiar-btn{
        display: none;
    }
}

@media (max-width: 430px) {
    .encriptador-texto{
        display: grid;
        gap: 20px;
        grid-template-areas: 
        "mensaje"
        "botones"
        "resultado"
        "copiar-btn";
        grid-template-columns: 90vw;
        grid-template-rows: auto    auto    auto    auto;
        justify-content: center;
        justify-items: center;
    }

    #mensaje{
        height: 55vw;
    }

    #mensaje, #resultado-mensaje, .botones, .copiar-btn,.copy-message-hidden, .caja-des-encriptar{
        width: 80vw;
    }

    #resultado-mensaje img{
        display: none;
    }

    .caja-des-encriptar{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 30vw;
    }


    .des-encriptar{
        width: 35vw;
        font-size: 5vw;
    }

    .copiar-btn{
        display: none;
    }
}
